<form id="form1" name="form1" method="post" action="/result">
  <h1><a href="http://omikujigohan.woopsdez.jp/"><img src="images/mainimages.gif" width="300" height="265" alt="おみくじごはん" /></a></h1>
  <p id="omikuji"><input type="image" src="images/btn_start.gif" alt="おみくじスタート" width="89" height="69" /></p>
  <p id="contents">いいのが出るかな。</p>

  <div id="Option">
    <div id="Items">
      <dl>
        <dt>下のフォームにメニューを入れるとその中のメニューだけでおみくじができるゾ。</dt>
        <% (0..9).each do |i| %>
          <dd><input type="text" name="item<%= i %>" id="item<%= i %>" /></dd>
        <% end %>
      </dl>
    </div>
    <p id="button"><img src="images/tab_option.gif" alt="候補を入れる" name="btn" width="41" height="132" /></p>
  </div>
</form>
